version: "3"
services:
  centos7-desktop:
    build: ./
    image: centos7-desktop
    container_name: centos7-desktop
    tty: true
    privileged: true
    ports:
      - 13389:3389
    volumes:
      - "./resolv.conf:/etc/resolv.conf"
    command:
      - /sbin/init