version: "3"
services:
  centos7-deskop:
    # build: ./
    image: ghcr.io/1219mai0410/centos7-desktop
    container_name: centos7-desktop
    tty: true
    privileged: true
    ports:
      - 13389:3389
    command:
      - /sbin/init